<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.roxiemobile.materialdesign"
    >

    <application>

        <activity
            android:name=".ui.activity.RootDrawerFragmentActivity_"
            android:screenOrientation="behind"
            android:configChanges="orientation|screenSize|keyboardHidden"
            />

        <activity
            android:name=".ui.activity.RootFragmentActivity_"
            android:screenOrientation="behind"
            android:configChanges="orientation|screenSize|keyboardHidden"
            />

    </application>

</manifest>
